
  body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/1103631.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
    background-position: center center;
    color: white;

}

#cards {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-rows: repeat(2, 210px);
  grid-template-columns: repeat(6, 140px);
}
.card {
  height: 210px;
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 130px;
  height: 180px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url("");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

@media (max-width: 1000px) {
  /* Adjust font sizes */
  h1 {
    font-size: 36px;
  }
  #cards {
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(4, 210px);
    grid-gap: 10px;
  }

  .card {
    height: 210px;
    width: 140px;
  }

}


